#portfolio {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  .portfolio-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
    }
    .portfolio-nav {
      margin-top: 3rem;
      margin-bottom: 3rem;
      .portfolio-nav-labels {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a {
          text-decoration: none;
          color: rgb(90, 90, 90);
          transition: all 0.3s ease;
          font-size: 1.2rem;
          margin-right: 2rem;
          &:hover {
            color: rgb(30, 150, 230);
          }
        }
      }
    }
    .singlePortfolioItem-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
      .singlePortfolioItem {
        flex: 30%;
        h4 {
          margin-top: 2rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #portfolio {

    .portfolio-wrapper {
      width: 95%;

      p {
      }
      .portfolio-nav {

        .portfolio-nav-labels {

          a {
 
            &:hover {
            }
          }
        }
      }
      .singlePortfolioItem-wrapper {

        .singlePortfolioItem {
          h4 {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}