.singlePortfolioItem {
  a {
    text-decoration: none;
    color: #000;
    h4 {
      margin-bottom: 1rem;
    }
    .singlePortfolioItem-img {
      margin-bottom: 1rem;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
    div {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
