#resume {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  .resume-wrapper {
    width: 60%;
    .resume-stats {
      display: flex;
      margin-top: 2rem;
      .educationAndSumary,
      .professional-experience {
        display: flex;
        flex-direction: column;
        flex: 50%;
        text-align: left;
        h3 {
          margin-bottom: 1rem;
          margin-top: 1rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .resume-card {
          padding-left: 2rem;
          padding-right: 2rem;
          border-left: 2px solid rgb(30, 150, 230);
          position: relative;
          &:before {
            content: " ";
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0;
            left: -9px;
            border-radius: 50px;
            background-color: rgb(30, 150, 230);
          }
          h4 {
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }
          p {
            margin-bottom: 1rem;
          }
          ul {
            li {
              margin-bottom: 1rem;
            }
          }
        }
      }
      .professional-experience {
        display: flex;
        flex-direction: column;
        flex: 50%;
      }
    }
  }
}

@media (max-width: 1200px) {
  #resume {
    .resume-wrapper {
      width: 80%;
      .resume-stats {
        flex-direction: row;
        .educationAndSumary,
        .professional-experience {
          h3 {
          }
          .resume-card {
            &:before {
              content: " ";
            }
            h4 {
            }
            p {
            }
            ul {
              li {
              }
            }
          }
        }
        .professional-experience {
        }
      }
    }
  }
}


@media (max-width: 960px) {
  #resume {
    .resume-wrapper {
      width: 80%;
      .resume-stats {
        flex-direction: row;
        .educationAndSumary,
        .professional-experience {
          h3 {
          }
          .resume-card {
            &:before {
              content: " ";
            }
            h4 {
            }
            p {
            }
            ul {
              li {
              }
            }
          }
        }
        .professional-experience {
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #resume {
    .resume-wrapper {
      width: 68%;
      .resume-stats {
        flex-direction: column;
        .educationAndSumary,
        .professional-experience {
          h3 {
          }
          .resume-card {
            &:before {
              content: " ";
            }
            h4 {
            }
            p {
            }
            ul {
              li {
              }
            }
          }
        }
        .professional-experience {
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #resume {
    .resume-wrapper {
      width: 95%;
      .resume-stats {
        flex-direction: column;
        .educationAndSumary,
        .professional-experience {
          h3 {
          }
          .resume-card {
            &:before {
              content: " ";
            }
            h4 {
            }
            p {
            }
            ul {
              li {
              }
            }
          }
        }
        .professional-experience {
        }
      }
    }
  }
}
