#about {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  .about-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    .about-upperSection {
      text-align: center;
      margin-bottom: 2rem;
    }
    .about-lowerSection {
      display: flex;
      img {
        width: auto;
        height: 350px;
        object-fit: contain;
      }
      .about-lowerSection-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 2rem;
        h3 {
          font-weight: 500;
          font-size: 1.5rem;
        }
        .about-lowerSection-inner-stats {
          display: flex;
          justify-content: space-around;
          .firstColumn {
            ul {
              list-style-type: none;
              padding-right: 1rem;
              li {
                margin-bottom: 0.5rem;
                .arrow-icon {
                  color: rgb(30, 150, 230);
                }
                span {
                  margin-left: 1rem;
                  font-weight: 700;
                }
              }
            }
          }
          .secondColumn {
            ul {
              list-style-type: none;
              li {
                margin-bottom: 0.5rem;
                .arrow-icon {
                  color: rgb(30, 150, 230);
                }
                span {
                  margin-left: 1rem;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  #about {
    .about-wrapper {
      .about-upperSection {
      }
      .about-lowerSection {
        flex-direction: column;
        img {
        }
        .about-lowerSection-inner {
          margin-top: 2rem;
          h3 {
          }
          p {
            margin-bottom: 1rem;
          }
          .about-lowerSection-inner-stats {
            margin-bottom: 1rem;
            .firstColumn {
              ul {
                li {
                  .arrow-icon {
                  }
                  span {
                  }
                }
              }
            }
            .secondColumn {
              ul {
                li {
                  .arrow-icon {
                  }
                  span {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #about {
    .about-wrapper {
      width: 95%;
      .about-upperSection {
      }
      .about-lowerSection {
        flex-direction: column;
        img {
          object-fit: contain;
        }
        .about-lowerSection-inner {
          padding-left: 0rem;
          h3 {
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: center;
          }
          p {
            text-align: center;
          }
          .about-lowerSection-inner-stats {
            flex-direction: column;
            .firstColumn {
              ul {
                li {
                  .arrow-icon {
                  }
                  span {
                  }
                }
              }
            }
            .secondColumn {
              ul {
                li {
                  .arrow-icon {
                  }
                  span {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
