#contact {
  margin-bottom: 4rem;
  .contact-wrapper {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    .contact-form {
      display: flex;
      flex-direction: column;
      input {
        padding: 0.6rem;
        margin: 1rem 0rem;
        &:focus {
          outline-color: rgb(30, 150, 230);
        }
      }
      textarea {
        padding: 0.6rem;
        &:focus {
          outline-color: rgb(30, 150, 230);
        }
      }
      .contact-submit {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgb(30, 150, 230);
        border-radius: 20px;
        background-color: rgb(30, 150, 230);
        color: #fff;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #fff;
          border: 1px solid rgb(30, 150, 230);
          color: rgb(30, 150, 230);
        }
      }
      .name-and-email-container {
        display: flex;
        input {
          width: 50%;
        }
        .contact-name {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #contact {
    .contact-wrapper {
      width: 70%;
      .contact-form {
        input {
          &:focus {
          }
        }
        textarea {
          &:focus {
          }
        }
        .contact-submit {
        }
        .name-and-email-container {
          input {
          }
          .contact-name {
          }
        }
      }
    }
  }
}


@media (max-width: 960px) {
  #contact {
    .contact-wrapper {
      width: 70%;
      .contact-form {
        input {
          &:focus {
          }
        }
        textarea {
          &:focus {
          }
        }
        .contact-submit {
        }
        .name-and-email-container {
          input {
          }
          .contact-name {
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #contact {
    .contact-wrapper {
      width: 70%;
      .contact-form {
        input {
          &:focus {
          }
        }
        textarea {
          &:focus {
          }
        }
        .contact-submit {
        }
        .name-and-email-container {
          input {
          }
          .contact-name {
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #contact {
    .contact-wrapper {
      width: 95%;
      .contact-form {
        input {
          &:focus {
          }
        }
        textarea {
          &:focus {
          }
        }
        .contact-submit {
        }
        .name-and-email-container {
          input {
          }
          .contact-name {
          }
        }
      }
    }
  }
}
