#footer {
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
  .footer-social {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      width: 30%;
      margin: 0 auto;
      margin-bottom: 1rem;
      li {
        font-size: 1.7rem;
        a {
          color: rgb(30, 150, 230);
          &:hover {
            svg {
              path {
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }
  .crafted,
  .crafted:visited {
    a {
      color: orange;
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  #footer {
    h2 {
    }
    p {
    }
    .footer-social {
      ul {
        li {
          a {
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #footer {
    h2 {
    }
    p {
    }
    .footer-social {
      ul {
        li {
          a {
            padding-right: 1rem;
          }
        }
      }
    }
  }
}
