name: Deploy to cPanel
on:
  push:
    branches:
      - 'main'
jobs:
  deploy: 
      runs-on: ubuntu-latest
      steps:
          - name: Get code
            uses: actions/checkout@v3
          - name: Install dependencies
            run: npm install
          - name: Build code
            run: npm run build
          - name: Deploy build code
            uses: SamKirkland/FTP-Deploy-Action@v4.3.6
            with:
              server: http://79.98.104.180/
              username: github
              password: ${{ secrets.FTP_PASS }}
              local-dir: ./build/
